<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>RevShop</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletRegister</servlet-name>
    <servlet-class>com.revshop.ServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegister</servlet-name>
    <url-pattern>/ServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletHome</display-name>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>com.revshop.ServletHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHome</servlet-name>
    <url-pattern>/ServletHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SellerDashboardServlet</display-name>
    <servlet-name>SellerDashboardServlet</servlet-name>
    <servlet-class>com.revshop.SellerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerDashboardServlet</servlet-name>
    <url-pattern>/SellerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.revshop.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.revshop.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.revshop.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerDashboardServlet</display-name>
    <servlet-name>BuyerDashboardServlet</servlet-name>
    <servlet-class>com.revshop.BuyerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerDashboardServlet</servlet-name>
    <url-pattern>/BuyerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.revshop.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailsServlet</display-name>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <servlet-class>com.revshop.ProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <url-pattern>/ProductDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFromCartServlet</display-name>
    <servlet-name>DeleteFromCartServlet</servlet-name>
    <servlet-class>com.revshop.DeleteFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFromCartServlet</servlet-name>
    <url-pattern>/DeleteFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.revshop.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryServlet</display-name>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>com.revshop.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SoldItemsServlet</display-name>
    <servlet-name>SoldItemsServlet</servlet-name>
    <servlet-class>com.revshop.SoldItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoldItemsServlet</servlet-name>
    <url-pattern>/SoldItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revshop.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToWishlistServlet</display-name>
    <servlet-name>AddToWishlistServlet</servlet-name>
    <servlet-class>com.revshop.AddToWishlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToWishlistServlet</servlet-name>
    <url-pattern>/AddToWishlistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFromWishlistServlet</display-name>
    <servlet-name>DeleteFromWishlistServlet</servlet-name>
    <servlet-class>com.revshop.DeleteFromWishlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFromWishlistServlet</servlet-name>
    <url-pattern>/DeleteFromWishlistServlet</url-pattern>
  </servlet-mapping>
</web-app>